# Ignore python cache files.
*.pyc
*.pyo

#Ignorar pastas e arquivos
logs/
files/
.vscode/
dev/
credential/
Airflow_DBT
dags/FisioVet/.dbt/target
dags/FisioVet/.dbt/profiles.yml
dags/FisioVet/.dbt/profile.yml
dags/WeatherAPI/.dbt/target
dags/WeatherAPI/.dbt/profiles.yml
.venv
.claude/settings.local.json
